* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 6.25%; 
    font-family: Arial, Helvetica, sans-serif;
 }

body {
    background: rgb(27, 27, 27);
}

header {
    width: 100%;
    height: 90rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: orange;

    & h1 {
        font-size: 32rem;
    }
    & section.navbar{
        font-size: 18rem;
        text-decoration: none;
        display: none;
        justify-content: space-around;
        align-items: end;
    }
}

header button.menu-button {
    width: 40rem;
    height: 40rem;
    position: absolute fixed;
    right: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: 0;
    background: none;
}
.menu-button div.burguer-menu {
    height: 5rem;
    width: 32px;
    background-color: black;
    border-radius: 5rem;
    position: relative;
    transition: 0.3s;
}
.menu-button div.burguer-menu::before {
    content: "";
    top: -10rem;
    height: 5rem;
    width: 32px;
    background-color: black;
    border-radius: 5rem;
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.menu-button div.burguer-menu::after {
    content: "";
    bottom: -10rem;
    height: 5rem;
    width: 32px;
    background-color: black;
    border-radius: 5rem;
    position: absolute;
    left: 0;
    transition: 0.3s;
}
.menu-button.active div.burguer-menu{
    transform: rotate(45deg);
}
.menu-button.active div.burguer-menu::after{
    transform: rotate(-90deg);
    left: 0;
    bottom: 0;
}
.menu-button.active div.burguer-menu::before {
    transform: rotate(-90deg);
    left: 0;
    top: 0;
}
div.links-navbar-resposive-mode{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16rem;
    font-weight: 700;
    gap: 16rem;
    background: orange;
    transition:  0.5s;
    & a{
        text-decoration: none;
        color: black;
    }
}

section.apresentacao{
    width: 90%;
    height: auto;
    display: flex;
    margin-top: 30rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & #selfie{
        border-radius: 50%;
        border: 3rem solid orange;
        max-width: 100%;
        height: auto;
    }

    & section.about{
       margin-left: 10rem;
       display: flex; 
       flex-direction: column;
       
       & h2{
        text-align: center;
        font-size: 20rem;
        color: orange;
       }
       & h3{
        text-align: center;
        font-size: 16rem;
        color: orange;
       }
       & p{
        text-align: center;
        font-size: 12rem;
        color: #dddbdb;
       }
    }
}
section.about section.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 12rem;
}

section.about section.social a img{
    border-radius: 50%;
    width: 30rem;
}








@media (min-width: 600px){
    header{
        justify-content: space-between;
        padding: 12px;
    }
    header button.menu-button{
        display: none;
    }
    header section.navbar{
        display: flex;
    }

    section.apresentacao{
        flex-direction: row;
    }

    section.apresentacao img{
        max-width: 100%;
        height: auto;
    }
}