* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::selection{
        color: black;
        background: #4e4eff;
    }
}

:root {
   font-size: 62.5%; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
header {
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    & nav.itens{
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        & a {
            text-align: center;
            font-size: 1.6rem;
            margin-right: 1.8rem;
            text-decoration: none;
            color: rgb(255, 255, 255);
            transition: all .3s;
        }
        & a:hover {
            color: rgb(78, 78, 255);
            text-decoration: underline;
            font-size: 2rem;;
        }
    }
}
section.home{
    max-width: 100%;
    height: 50rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../img/Computer\ Network\ Internet\ GIF\ by\ Butlerm.gif");
    align-content: center;
    flex-wrap: wrap;
    & img {
        max-width: 100%;
        height: auto;
    }
    
    & h2 {
        width: 30%;
        color: white;
        text-align:left;
        font-size: 3.2rem;
        padding: 1.5rem;
        margin-left: 5rem;
        & strong{
            color: rgb(78, 78, 255);
        }
    }
}
section.anuncio-podcast-rocket {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 500px;
    background-color: rgb(212, 210, 210);
    align-content: center;
    padding: 20px;
    & .tittle-podcast-anuncio {
        color: rgb(78, 78, 255);
        font-size: 22pt;
        margin-bottom: 30px;
        & h3 {
            color: rgb(78, 78, 255);
            font-size: 18pt;
        }
    }
    & .text-podcast-anuncio {
        font-size: 16pt;
        text-align: left;
    }
    & #change{
        font-size: 18pt;
        margin-top: 10px;
        margin-bottom: 05px;
    }
    & button {
        width: 170px;
        height: 40px;
        margin-top: 10px;
        font-size: 16pt;
        border-radius: 15px;
        background-color: rgb(78, 78, 255);
        color: white;
        border: none;
        cursor: pointer;
        box-shadow: 05px 05px 3px rgba(0, 0, 0, 0.233);
    }
    & .podcast-anuncio{
        align-content: center;
        & img {
            max-width: 45rem;
            height: auto;
            margin-left: 10rem;
            border-radius: 1.5rem;
            box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.233);
        }
    }
}
section.posts {
    width: 80%;
    margin: 0 auto;
    height: 45rem;
    margin-top: 7rem;
    & article {
        text-align: center;
        & h2 {
            font-size: 3.2rem;
            color: rgb(78, 78, 255);    
        }
        & p {
            font-size: 2.2rem;
        }
    }
}
section.posts div.post {
    width: 100%;
    height: 300px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    & a {
        width: 25rem;
        height: 20rem;
        font-size: 2.2rem;
        margin-bottom: 3rem;
        color: white;
        align-content: center;
        text-align: center;
        text-decoration: none;
        border-radius: 3rem;
        background-color: rgb(78, 78, 255);
        box-shadow: 1rem 1rem 0.5rem rgba(0, 0, 0, 0.233);
    }
    & a:hover {
        transform: rotateY(180deg);
        transition: 0.7s;
        border: 3px solid rgb(78, 78, 255);
        background-color: white;
        color: rgb(78, 78, 255);
        box-shadow: -1.5rem 1.5rem 1rem rgba(78, 78, 255, 0.399);

        & h3 {
            transform: rotateY(180deg);
            transition: 0.0s;
        }
    }
}

section.about-author {
    width:80%;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    height: 45rem;
    box-shadow: 1.5rem 1.5rem 1rem rgba(78, 78, 255, 0.399);
    border-radius: 3rem;
    & img {
        max-width: 100%;
        height: auto;
        border: 0.4rem solid rgb(78, 78, 255);
        border-right: 0;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
    }
    & .text-about-actor {
        height: auto;
        text-align: left;
        align-items: flex-start;
        padding-left: 1rem;
        border: 0.4rem solid rgb(78, 78, 255);
        border-left: 0;
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding: 1rem;
        & h2 {
            font-size: 3.2rem;
            color: rgb(78, 78, 255);
        }
        & p {
            font-size: 2.2rem;
        }
    }
}

#talk {
    text-align: center;
    margin-top: 7rem;
    font-size: 3rem;
    background: linear-gradient(to right, #d5daf1,#b495ec ,#4e4eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

section.contact {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    height: 50rem;
    padding: 1.5rem;
    border: 0.4rem solid #4e4eff;
    border-radius: 3rem;
    box-shadow: 1.5rem 1.5rem 1.5rem rgba(78, 78, 255, 0.399);
    & .articles-form {
        width: 50%;
        & .articles {
            & h2 {
                text-align: left;
                color: rgb(78, 78, 255);
                font-size: 3rem;
            }
            & p{
                font-size: 1.9rem;
                width: 75%;
                margin-bottom: 1rem;
            }
        }
        & form {
            display: grid;
            width: 90%;
            grid-template-areas: 'nome sobrenome' 'email email' 'phone phone' 'msg msg' 'btn btn';
            gap: 1rem;
            & input {
                height: 3rem;
                border: 0.2rem solid rgb(78, 78, 255);
                padding: 0.2rem;
                border-radius: 0.5rem;
            }

            & input:focus {
                color: #4e4eff;
            }
            & #nome {
                grid-area: nome;
            }
            & #sobrenome {
                grid-area: sobrenome;
            }
            & #email {
                grid-area: email;
            }
            & #tel {
                grid-area: phone;
            }
            & #msg {
                grid-area: msg;
                height: 12rem;
                text-align: left;
                padding: 0.5rem;
                resize: none;
                border: 0.2rem solid rgb(78, 78, 255);
                border-radius: 0.5rem;
                font-family: Arial, Helvetica, sans-serif;
            }
            & #btn {
                grid-area: btn;
                height: 3rem;
                font-size: 1.9rem;
                color: white;
                border: none;
                border-radius: 0.5rem;
                background-color: rgb(78, 78, 255);
                cursor: pointer;
            }
            & #btn:hover {
                background-color: rgb(63, 63, 255);
            }
        }
    }
    & .gif {
        width: 60%;
        height: auto;
        border-radius: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../img/Glitch\ Hacking\ GIF\ by\ xponentialdesign.gif");
    }
}

@media (max-width: 375px){
    header {
        align-content: center;
        & .itens {
            display: none;
        }
    }

    section.home{
        max-width: 100%;
        height: 45rem;
        text-align: center;
        background-size: 100%;
        font-size: 2rem;
    }

    section.anuncio-podcast-rocket {
        height: 45rem;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}