body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #343a40;
}

.card {
  background-color: #ffffff;
  border-radius: 12px;
}


.btn-add-user {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.btn-add-user:hover{
  opacity: 1;
}


.btn-delete-user{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 0.7;
}

.btn-delete-user:hover{
  opacity: 1;
}

.btn-send-modal{
  opacity: 1;
  transition: 0.3s
}

.btn-send-modal:disabled{
  opacity: 0.5;
}