<!DOCTYPE html>
<html ng-app="weatherApp" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Previsão Tempo com Angular</title>
</head>
<body ng-controller="WeatherController">

    <section class="card" ng-class="{'active': 'cardActive'}">
        <img
        ng-if="iconUrl"
        class="icon"
        src="{{iconUrl}}"
        alt="icone da temperatura de acordo com o tempo">
        <h1>{{cityName}}</h1>
        <h2>{{temperature}}°</h2>
        <p class="feels-like">Sensação dê <span>{{feelsLike}}°</span></p>

        <div class="min-max">
            <p >Min: <span class="min">{{minTemperature}}°</span></p>
            <p >Max: <span class="max">{{maxTemperature}}°</span></p>
        </div>

        <p class="humidity">Humidade: <span>{{humidity}}°</span></p>
        <div class="wind">
            <img
            ng-style="{'transform': 'rotate('+windOrientation+'deg)'}" 
            src="./assets/img/724954.png"
            alt="seta que indica a direção do vento">
            <p>
                Velocidade do vento:
                <span>{{windVelocity}}m/s</span>
            </p>
        </div>
    </section>

    <section class="input">
        <input type="text" placeholder="Busque uma cidade" id="inputEl" ng-model="city">
        <button type="button" ng-click="callApi()">Buscar</button>
    </section>

    <script src="./assets/JS/main.js"></script>
</body>
</html>